/*
George Dacosta
AVF 1306
main.css
june 14, 2013
*/

html {
	
	font-family: sans-serif;
}
	

body {

	background-color: #13181C;	
	background-image: url(../img/yankees.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;	

}

h1 {
	color: #ffffff;	
	margin-left: 5px;
}

h2 {
	color: #ffffff;	
	margin-left: 5px;
}

h3 {
	color: #000000;	
	margin-top: -18px;
	margin-left: 5px;
	
}
h5 {
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	
		
}

li {
	list-style: none;
	margin-bottom: 15px;
	
}

nav {
	background-color: rgba(85,86,89,0.25);
	margin-top: 35;
	margin-right: 15px;
	height:auto;
	width: auto;
	float:left;
	display: table-row-group;
	
}

div#responseImg{
	height: auto;
	width: auto;
	float: left;
}

ul#menuH li {
	min-height: 40px;
	min-width: 300px;
    display: block;
    float: left;
    text-align:center;
    margin-left: -75px;
	padding-top: 15px;    

}
.icon {
	margin-right: 10px;
	
}

img#homeImg {
	height: 30px;
	width: 30px;
}
button {
	width: 95%;
	height: 50px;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	margin-right: 25px;
	margin-left: 15px;
	margin-bottom: 5px;
	font-size: 125%;
	color: #000000;

}

/* _________________________________________Research Page_______________________________________________ */

.rDiv {
	width: 95%;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.35);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	
}

.weekTitle {

	margin: 0 0 10px 0;
	color: #000000;
		
}

/* _________________________________________Weather Page_______________________________________________ */

.currentDiv{
	width: 95%;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 10px;

}

.ccHead {
	padding-top: 10px 0 0 10px;
	margin: 0 0 10px 0;
	color: navy;
	
}
.ccImg {
	height: 60px;
	width: 60px;
	margin-top: -15px;
}

.ccTime {
	
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	
}
.obTime {
	color: red;
}
.fcDiv {
	width: 95%;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 10px;
}
.fcDiv:first-child {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 20px 0 0 0;
	background: none;
}
.fcTitle {
	padding-top: 10px 0 0 10px;
	margin: 0 0 10px 0;
	color: #000000;
		
}


/* _________________________________________Instagram Page_______________________________________________ */

div.igDiv {
	width: 95%;
	height:180px;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	
	margin-right: 25px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.igDiv:last-child{
	margin-bottom: 5px;
}

li.igName {
	
	color: red;
	margin-top: 0px;
	margin-left: 175px;
	margin-bottom: 10px;
	
	
}

.igHead {
	color: #ffffff;
	
}

li.igImg {
	
	height: 30px;
	width: 30px;
	margin-top: 2px;
	margin-left: 2px;
}
.igUser{
	margin-left: 50px;
}

.igText{
	margin-left: 50px;
}

.igLikes{
	margin-left: 175px;
	color: blue;
}

/* _________________________________________Gelocation Page_______________________________________________ */


.map {
	margin-left: 15px;
	}


.deviceDiv {
	width: 95%;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.65);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	padding-top: 0px;
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 10px;

}

.accelDiv {
	width: 95%;
	border: 1px solid #ffffff;
	background-color: rgba(255,255,255,.65);
	box-shadow: 0 2px 5px rgba(0,0,0,.8);
	padding-top: 0px;
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 10px;

}
#imgPop {
	width: 250px;
	height: 250px;
	display: block;
	border: none;
	margin-bottom: 10px;
	margin-left: 15px;
}


@media only screen and (max-width:480px){

	
	body{
		width: 90%;
		margin: 0 auto;
		min-width: 700px;
		max-width: 1399px;
		
	}
	ul#menuH li {
		
		width: 50%;
	}
	button{
		
		width: 50%;
	}
	nav{
		float: left;
	}
	div#responseImg{
	display: none;
	}
	img#yankLogo {
		float: right;
		margin-top: -50px;
		width: 50px;
		height: 50px;
	}

}	