/*
George Dacosta
MIU 1302
Project 4 Bronze
style.css
February 28, 2013
*/
h4 {
	margin: -120px 10px 55px 135px
}


img#feature {
	margin: 20px 0px 50px 10px;
}


img#addItemCta {
	margin: -40px 0px 20px 130px
	
}


html {
	background: #f0e8bf;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee960), to(#f0e8b1));}

h1 {
	
	text-align: center;
	color:rgba(54,33,7,0.76);
	font-weight: 100;
	font-size: 400%;
	padding: 10px;
	
}	

h2 {
	color:rgba(54,33,7,0.76);
}

p {
	font-family: "Arial Black", Gill Sans, sans-serif;
	font-size: 200%;
	color:rgba(54,33,7,0.76);
}

ul {
	list-style: none;
	list-style-position: outside;
}

li {
	margin: 10px 05px 10px -5px;
}
fieldset {
	color: #000000;
			font-family: "Arial Black", Gadget, sans-serif;
			background-color: #cfbb7a;
			border-color: #000000;
			border-style: solid;
			font-style:  oblique;
			line-height: 15px;
			width: 350px;
			margin-bottom: 20px;
			margin-top: 20px;
}

a:link {
	color: #1926dd;
}
a:visited {
	color:#7329c8;
}
a:hover {
	color:#ffffff;
}
a:active{
	color: #dc1d1d;
}

