/*
George Dacosta
MIU 1302
Project 3 gold
style.css
February 21, 2013
*/
h4 {
	margin: -120px 10px 55px 135px
}


img#feature {
	margin: 20px 0px 50px 10px;
}


img#addItemCta {
	margin: -40px 0px 20px 130px
	
}

label.error{
	display:block; margin:10px 0; color:#cc0000;
}

#errorsLink{
	display:none;
}